<h1>Entrar no Sistema</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>

  <%= f.label "CPF ou CNPJ" %></br>
  <%= f.text_field :cpf_cnpj %></br>

  <%= f.label :senha %></br>
  <%= f.password_field :senha %></br>

  <%= f.submit 'Login' %>
<% end %>