<h1>Cadastro de Receita Médica</h1>
<%= form_for(@receita) do |f| %>
  
  <%= f.label :paciente %></br>
  <%= f.select :paciente_id, Paciente.all.collect { |p| [p.usuario.nome, p.id]}, {:include_blank => 'Selecione'} %></br>

  <%= f.label :descricao %></br>
  <%= f.text_area :descricao %></br>
  
  <%= f.submit 'Confirmar' %>
<% end %>