<h1>Receitas#new</h1>
<p>Find me in app/views/receitas/new.html.erb</p>

<fieldset>
  <legend>Nova Receita</legend>
    <%= form_for(@receita) do |f| %>
      
      <%= f.label :paciente %></br>
      <%= f.select :paciente_id, Paciente.all.collect { |p| [p.usuario.nome, p.id]}, {:include_blank => 'Selecione'} %></br>

      <%= f.label :descricao %></br>
      <%= f.text_area :descricao %></br>
      
      <%= f.submit 'Confirmar' %>
    <% end %>
</fieldset>
