<!DOCTYPE html>
<html>
  <head>
    <title>Receituario</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="pagina">
      <% if logado? %>
        <div id="informacoes_usuario">
          <span>
            <strong>Usuário Logado - CPF: </strong><%= usuario_corrente.cpf_cnpj %><strong> - Nome: </strong><%= usuario_corrente.nome %><strong> - Tipo: </strong><%= tipo_de_usuario %>
            <% if tipo_de_usuario == Usuario::MEDICO %>
              <strong> - Clínica: </strong><%= clinica_corrente.usuario.nome %> <%= link_to 'Alterar Clínica', alterar_clinica_clinica_medico_path(clinica_corrente, medico_corrente) %>
            <% end %>
            <% if tipo_de_usuario == Usuario::FARMACEUTICO || tipo_de_usuario == Usuario::BALCONISTA %>
              <strong> - Fármacia: </strong><%= farmacia_corrente %> <%= link_to 'Alterar Clínica', alterar_clinica_clinica_medico_path(farmacia_corrente, farmaceutico_corrente) %>
            <% end %>
          </span>
        </div>
      <% end %>

      <div id="header">	
	<div id="logo"> 
	</div>
	<div id="slogan">
		<h1> Receituário Online </h1> 
	</div>
      </div>	
      <div id="cabecalho" >
        <% if not logado? %>
          <div class="menuCabecalho">
            <ul>
              <li><%= link_to 'Página Inicial', root_path %></li>
              <li><%= link_to 'Login', signin_path %></li>
              <li><%= link_to 'Nova Farmácia', new_farmacia_path %></li>
              <li><%= link_to 'Nova Clínica', new_clinica_path %></li>
            </ul>
          </div>
        <% else %>
          <div class="menuUsuario">
            <ul>
              <li><%= link_to 'Página Inicial', root_path %></li>
              <% if tipo_de_usuario == Usuario::CLINICA %>
                <li><%= link_to 'Cadastrar Médico', new_clinica_medico_path(clinica_corrente) %></li>
                <li><%= link_to 'Procurar Médico', clinica_medicos_path(clinica_corrente) %></li>
                <li><%= link_to 'Listar Médicos da Clínica', medicos_da_clinica_clinica_path(clinica_corrente) %></li>
              <% end %>
              <% if tipo_de_usuario == Usuario::MEDICO %>
                <li><%= link_to 'Criar Receita Médica', new_receita_path %></li>
                <li><%= link_to 'Cadastrar Paciente', new_paciente_path %></li>
              <% end %>
              <% if tipo_de_usuario == Usuario::FARMACIA %>
                <li><%= link_to 'Cadastrar Balconista', new_farmacia_balconista_path(farmacia_corrente) %></li>
                <li><%= link_to 'Procurar Balconistas', farmacia_balconistas_path(farmacia_corrente) %></li>
                <li><%= link_to 'Cadastrar Farmacêutico', new_farmacia_farmaceutico_path(farmacia_corrente) %></li>
                <li><%= link_to 'Procurar Farmacêuticos', farmacia_farmaceuticos_path(farmacia_corrente) %></li>
                <li><%= link_to 'Listar Funcionários da Farmácia', funcionarios_farmacia_path(farmacia_corrente) %></li>
              <% end %>
              <% if tipo_de_usuario == Usuario::FARMACIA || tipo_de_usuario == Usuario::FARMACEUTICO || tipo_de_usuario == Usuario::BALCONISTA %>
                
              <% end %>
              <li><%= link_to 'Procurar Pacientes', pacientes_path %></li>
              <li><%= link_to 'Procurar Receitas', receitas_path %></li>
              <li><%= link_to 'Sair', signout_path %></li>
            </ul>
          </div>
        <% end %>
      </div>

      <div id="corpo">
        <%- flash.each do |name, msg| -%>
          <% if name == :error %>
            <div class="msg_erro"><p><%= msg %></p></div>
          <% end %>
          <% if name == :alert %>
            <div class="msg_aviso"><p><%= msg %></p></div>
          <% end %>
          <% if name == :notice %>
            <div class="msg_sucesso"><p><%= msg %></p></div>
          <% end %>
        <%- end -%>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
