<!DOCTYPE html>
<html>
  <head>
    <title>Receituario</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="cabecalho" >
      <div class="menuCabecalho">
        <ol>
          <li><%= link_to 'Efetuar Login', signin_path %></li>
          <li><%= link_to 'Cadastro de nova farmácia', new_farmacia_path %></li>
          <li><%= link_to 'Cadastro de nova clínica', new_clinica_path %></li>
        </ol>
      </div>
      <% if logado? %>
        <div class="menuUsuario">
          <ol>
            <% if tipo_de_usuario == Usuario::CLINICA %>
              <li><%= link_to 'Cadastrar Médico', new_clinica_medico_path(@clinica_corrente) %></li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>

    <div id="body">
      <%= yield %>
    </div>

  </body>
</html>
